@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap");
@import "normalize.css";

#root {
  box-sizing: border-box;
  margin: 0;
  max-width: 375px;
  height: 812px;
  text-align: center;
}

body {
  background-color: #ffffff;
}

p {
  font-family: "Lato", sans-serif;
}

.Oval {
  height: 4px;
  width: 4px;
  background-color: #5533ea;
  opacity: 21%;
  border-radius: 5px;
  margin: 3px;
}

.Flex {
  display: flex;
}

.Center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.margin-bottom {
  margin-bottom: 80px;
}

.margin-right {
  margin-right: 20px;
}

.margin-right-s {
  margin-right: 15px;
}

.margin-right-xs {
  margin-right: 10px;
}

.margin-right-xxs {
  margin-right: 5px;
}

.margin-left {
  margin-left: 20px;
}
.margin-left-s {
  margin-left: 15px;
}

.margin-left-xs {
  margin-left: 10px;
}
.margin-left-xxs {
  margin-left: 5px;
}

.max-width {
  max-width: 150px;
}

.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-self: start;
}

.width-100 {
  width: 100%;
}

.padding {
  padding: 30px;
}

.reset {
  margin: 0;
  padding: 0;
}

.text-align-start {
  text-align: left;
}

.text-align-end {
  text-align: right;
}

.Blue {
  color: #5533ea;
}

.Grab {
  cursor: grab;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 30px;
}

.return-home {
  color: blue;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.outline {
  background-color: #5533ea;
  outline: 5px solid orange;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
